* {
    margin: 0;
    padding: 0;
}

.main-nav{
    width: 100%;
    height: 55px;
    background-color: rgb(0, 0, 0);
    font-size: 1.5em;
}

.bar-menu{
    display: none;
}

ul{
    text-align: center;
}
li{
    display: inline-block;
    margin-top: 12px;
}
.hidden-Menu {
    display: none;
}
.menu-a-style{
    color: aliceblue;
    text-decoration: none;
    padding:0 45px
}
.menu-a-style:hover{
    color: azure;
}
.style-icon {
    font-size: .8em;
    margin-right: 8px;
    vertical-align: top;
    margin-top: 3px;
}


h1{ color: brown;

    margin-top: 30px;
    text-align: center;

}
h2 {
    text-align: center;
    margin-bottom: 30px;
}
h3 {
    text-align: center;
}
.main-content-img {
    width: 100%;}
  
.box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: brown;
    margin: 0%;
}
.img-catalogo{
  width: 800px;
}


.acevedo{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
}
.letra{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: brown;
}

p{

    font-style: italic;
    font-size: 60px;
    
}
h2{
    font-size: medium;
    font-size: 30px;
    font-family: cursive;
}
p special{
    text-align: center;
}
p texto{  
    font-style:cata ;
}


.main-content{
    text-align: center;
    background-color: red;
   width: 300px;
height: 100px;
}

.radio{ 
    text-align: center;
    background-color: blue;
   width: 300px;
height: 100px; 

}

.bruja{
    text-align: center;
    background-color: rgb(181, 27, 135);
   width: 300px;
height: 100px; 

}

.modo{
    text-align: center
}
::backdrop col



.todo{
    background-color: mediumspringgreen;
    width: 300px;
    height: 300px;
}
    







.loco{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
}

@media only screen and (max-width: 800px) {

    ul{
        color: black;
        text-align: left;
    }

    .bar-menu{
        display: block;
        color: white;
        font-size: 1.6em;
        padding-top: 7px;
        padding-left: 25px;
        cursor: pointer;
    }
}
li {
    display: block;
    padding-top: 15px;
} 
.menu-a-style {
    display: block;
    color: black;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(96, 96, 96,.5);
}
li:hover {
    background-color: rgb(84, 84, 84,.7);
}
li:hover .menu-a-style {
    color: white;
}
   





.style-vida{

    font-size: 10em;
}
/* catamaran-300 - latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/catamaran-v17-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/catamaran-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/catamaran-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/catamaran-v17-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/catamaran-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/catamaran-v17-latin-300.svg#Catamaran') format('svg'); /* Legacy iOS */
  }
  /* catamaran-700 - latin */
  @font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/catamaran-v17-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/catamaran-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/catamaran-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/catamaran-v17-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/catamaran-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/catamaran-v17-latin-700.svg#Catamaran') format('svg'); /* Legacy iOS */
  }