table{
    width: 50%;
    height: 40em;
    border: 1px solid black;
    border-spacing: 0;
    
   
}

th{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(77, 156, 240);
    

}

td{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(177, 211, 243);

    

}


img{
    width: 40%;
}